* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h4{
    margin-top: 1em;
    color: rgb(2, 2, 2);
}

p{
    font-size: .8em;
    line-height: 1;
    margin-top: 1.5em;
    color: rgb(16, 16, 16);
}

.wrapper , .section{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section .h1 {
    font-size: 3rem;
    letter-spacing: .1em;
    text-align: center;
    margin: .5em;
}

.image .img {
    height: 300px;
}

.thumbnail {
    width: 85px;
    opacity: 0.5;
}

.thumbnail:hover {
    opacity: 1;
}

.arrows {
    padding: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;

    position: relative;
}

.active {
    opacity: 1;
}

.left-arrow i, .right-arrow i{
    padding: .4em;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.598);
    border: 1px solid black;
    cursor: pointer;
    transition: .3s;

    position: absolute;
    top: -150px;
}

.left-arrow i{
    left: -50px;
}

.right-arrow i{
    right: -50px;
}

.left-arrow i:hover, .right-arrow i:hover{
    transform: scale(1.4);
    background-color: rgba(0, 0, 0, 0.845);
}